<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alien - Agroglifos</title>
    <link rel="shortcut icon" href="static/img/alien.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      body {
        background-color:black
        }
    </style>
  </head>

  <body>
    <center>
      <h1 class="text-success">
        Alien - Agroglifos
      </h1>
      <br>
      <img src="static/img/alien.png" width="200" height="240" id="alien">
      <br>
      <br>
      <h4 class="text-success" style="width: 750px;">
        As grandes e misteriosas figuras que surgem literalmente da noite para o
        dia em plantações de grãos, são um dos mais fascinantes e misteriosos
        fenômenos da Ufologia Moderna. O Alien tem a finalidade de registrar
        acontecimentos com o intuito de identificar padrões.
      </h4>
      <br>
      <a type="button" class="btn btn-success" href="/login">Entrar</a>
      <a type="button" class="btn btn-success" href="/register">Cadastrar</a>
    </center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
